main img{
    height: 180px;
    width: 300px;
    margin-right:25px;
}
div#main_name>a>img{
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-left: 30px;
    z-index: 1;
}
#textbox{
    float: right;
    top: 40px;
    right: 30px;
    border-radius: 15px;
    height: 30px;
    width: 90px;
    border: solid 1px rgb(187, 187, 187);
    text-align: center;
    z-index: 0;
}


head>style>header {
    display: none;
}


#main_top_menu {
   display: none;
}



#popular_car_list>li>img:hover{
    transform: scale(140%,140%);
}
#popular_car_list>li>img{
    width: 520px;
    height: 300px;
    border-radius: 10px;
    margin-top: 0px;
}
body>a>img:hover{
    transform: scale(130%,130%);
    background-color: brown;
}
body>button>img{
    width: 5px;
    height: 5px;
}
footer{
    position: relative;
    bottom: 10px;
}
.footer_box{
    display: inline-block;
    font-size: 12px;
    width: 600px;
    vertical-align:middle;
    margin-top: 10px;
   
    margin-left: 80px;
}
.footer_box p{
    color: rgb(77, 77, 77);
}
body>a>img{
    margin-right: 800px;
}