header{
    background-color: black;
    border-color: black;
}
div#main_name>a>img{
    display: inline-block;
    width: 200px;
    height: 200px;
    float: left;
}
#main_video{
    margin-left: 250px;
}
#main_top_menu {
    margin-left: 200px;
}
#main_top_menu li>img{
    width: 50px;
    height: 50px;
    list-style-type: none;
    display: inline;
}

#main_top_menu li{
    list-style-type: none;
    display: inline;
    margin-left: 170px;
    font-weight: bold;
    color: rgb(83, 83, 83);

}
main>section#popularcar{
    background-color: black;
    border-radius: blanchedalmond;
}

#textbox{
    float: right;
    position:absolute;
    top: 40px;
    right: 30px;
    border-radius: 15px;
    height: 30px;
    width: 220px;
    border: solid 1px rgb(187, 187, 187);
    text-align: center;
}
placeholder{
    color: gray;
}
header{
    border-bottom: solid 1px rgb(221, 221, 221);
}
main>section#popularcar , section#newCar , section.High_Performance_Vehicle{
    border-bottom: solid 1px rgb(221, 221, 221);
}
#name {
    text-align: center;
}
#popular_car_list{
    margin-top: 200px;
    text-align: center;
}
#popular_car_list:hover{
    color: rgb(100, 96, 96);
}
.popular_car{
    display: inline-block;
    margin-right: 180px;
    margin-left: 180px;
}
 section>div#newcar{
    background-color:black;
    border-bottom: aquamarine;
}
#new_car_list{
    margin-top: 200px;
    text-align: center;
}
#new_car_list:hover{
    color:rgb(100, 96, 96)
}
.new_car{
    display: inline-block;
    margin-right: 180px;
    margin-left: 180px;
}
#High_p_list{
    margin-top: 100px;
    text-align: center;
    
}
#High_p_list:hover{
    color:rgb(100, 96, 96)
}
main>section.High_Performance_Vehicle{
    background-color: black
}

.High_p{
    display: inline-block;
    margin-right: 180px;
    margin-left: 180px;
}
#new_car_list>a>li>img{
    width: 520px;
    height: 300px;
    border-radius: 10px;
 
}


#popular_car_list>li>img{
    width: 520px;
    height: 300px;
    border-radius: 10px;
}
#popular_car_list>li>img:hover{
    transform: scale(140%,140%);
}
#new_car_list>a>li>img:hover{
    transform: scale(140%,140%);
}
#High_p_list>li>img:hover{
    transform: scale(140%,140%);
}
#High_p_list>li>img{
    width: 520px;
    height: 300px;
    border-radius: 10px;
}

footer{
    position: relative;
    bottom: 10px;
}
.footer_box{
    display: inline-block;
    font-size: 12px;
    width: 600px;
    vertical-align:middle;
    margin-top: 10px;
   
    margin-left: 180px;
}
.footer_box p{
    color: rgb(77, 77, 77);
}

@media(max-width : 400px){
    #popular_car_list>li>img,#High_p_list>li>img,#new_car_list>a>li>img, #main_video {
        width: 300px;
        height: 150px;
        border-radius: 10px;
    }
    #popular_car_list, #High_p_list ,#new_car_list{
        text-align: center;
    }
    .popular_car,.High_p,.new_car, #main_video {
        display: inline-block;
        margin-right: 5%;
        margin-left: 5%;
    } 
   
    #textbox{
        float: right;
        position:absolute;
        top: 40px;
        right: 30px;
        border-radius: 15px;
        height: 30px;
        width: 300px;
        border: solid 1px rgb(187, 187, 187);
        text-align: center;
    }

}
/* 반응형웹 해결해야할 목록 
메인비디오 지우기 / 로고 상단 중앙 / 로고 밑에 브랜드 이름  / 서브페이지 비율 조정
*/
